/* styles.css */

/* Style the table */
table {
    width: 100%;
    border-collapse: collapse;
}

/* Style table header */
th {
    background-color: #f2f2f2;
    padding: 8px;
    text-align: left;
}

/* Style table rows */
tr {
    border-bottom: 1px solid #dddddd;
}

/* Style table data cells */
td {
    padding: 8px;
}

.gradient-background {
    background: #B993D6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #8CA6DB, #B993D6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #8CA6DB, #B993D6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}
